body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
  background-size: cover;
  background-image: url("/img/background.png");
  background-color: #6D7697;
}

body:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 174px;
  height: 182px;
  margin-left: -87px;
  margin-top: -91px;
  opacity: 0.2;
  background: url("/img/logo.svg");
}

.Twilio-RootContainer {
  /* border: 5px solid red; */
  height: 100%;
  width: 100%;  
}

.Twilio-RootContainer-default {
  /* border: 5px solid green; */
  height: 100%;
  width: 100%; 
}

.Twilio-MainContainer {
  /* border: 5px solid blue; */
  min-height: 100%;
  height: 100%;
  width: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.Twilio-MainContainer-default {
  /* border: 5px solid yellow; */
  height: 100%;
  width: 100%;
}

